:root {
  --primitives-size-grid-gutter: var(--grid--base-gutter);
  --primitives-size-row-gap: var(--grid--base-row-gap);
}

[class*=cnt] {
  width: 90%;
  max-width: 90rem;
  margin-right: auto;
  margin-left: auto;
}

[class*=rw] {
  display: flex;
  flex-wrap: wrap;
  margin-right: calc(-1 * var(--primitives-size-grid-gutter));
  margin-left: calc(-1 * var(--primitives-size-grid-gutter));
  grid-row-gap: var(--primitives-size-row-gap);
}

[class*=clm] {
  padding-right: var(--primitives-size-grid-gutter);
  padding-left: var(--primitives-size-grid-gutter);
  flex-basis: 100%;
  flex-grow: 1;
  max-width: 100%;
}

[class*=rw-x] > [class*=clm] {
  padding-right: var(--primitives-size-grid-gutter);
  padding-left: var(--primitives-size-grid-gutter);
  flex-basis: auto;
  flex-grow: 1;
  max-width: 100%;
}

[class*=clm][class*=xs_1] {
  flex-basis: 8.33%;
  max-width: 8.33%;
  flex-grow: 1;
  flex-shrink: 1;
}

[class*=clm][class*=xs_2] {
  flex-basis: 16.666%;
  max-width: 16.666%;
  flex-grow: 1;
  flex-shrink: 1;
}

[class*=clm][class*=xs_3] {
  flex-basis: 25%;
  max-width: 25%;
  flex-grow: 1;
  flex-shrink: 1;
}

[class*=clm][class*=xs_4] {
  flex-basis: 33.333%;
  max-width: 33.333%;
  flex-grow: 1;
  flex-shrink: 1;
}

[class*=clm][class*=xs_5] {
  flex-basis: 41.666%;
  max-width: 41.666%;
  flex-grow: 1;
  flex-shrink: 1;
}

[class*=clm][class*=xs_6] {
  flex-basis: 50%;
  max-width: 50%;
  flex-grow: 1;
  flex-shrink: 1;
}

[class*=clm][class*=xs_7] {
  flex-basis: 58.333%;
  max-width: 58.333%;
  flex-grow: 1;
  flex-shrink: 1;
}

[class*=clm][class*=xs_8] {
  flex-basis: 66.666%;
  max-width: 66.666%;
  flex-grow: 1;
  flex-shrink: 1;
}

[class*=clm][class*=xs_9] {
  flex-basis: 75%;
  max-width: 75%;
  flex-grow: 1;
  flex-shrink: 1;
}

[class*=clm][class*=xs_10] {
  flex-basis: 83.3333%;
  max-width: 83.3333%;
  flex-grow: 1;
  flex-shrink: 1;
}

[class*=clm][class*=xs_11] {
  flex-basis: 91.67%;
  max-width: 91.67%;
  flex-grow: 1;
  flex-shrink: 1;
}

[class*=clm][class*=xs_12] {
  flex-basis: 100%;
  max-width: 100%;
  flex-grow: 1;
  flex-shrink: 1;
}

@media (min-width: 480px) {
  [class*=clm][class*=sm_1] {
    flex-basis: 8.33%;
    max-width: 8.33%;
    flex-grow: 1;
    flex-shrink: 1;
  }
  [class*=clm][class*=sm_2] {
    flex-basis: 16.666%;
    max-width: 16.666%;
    flex-grow: 1;
    flex-shrink: 1;
  }
  [class*=clm][class*=sm_3] {
    flex-basis: 25%;
    max-width: 25%;
    flex-grow: 1;
    flex-shrink: 1;
  }
  [class*=clm][class*=sm_4] {
    flex-basis: 33.333%;
    max-width: 33.333%;
    flex-grow: 1;
    flex-shrink: 1;
  }
  [class*=clm][class*=sm_5] {
    flex-basis: 41.666%;
    max-width: 41.666%;
    flex-grow: 1;
    flex-shrink: 1;
  }
  [class*=clm][class*=sm_6] {
    flex-basis: 50%;
    max-width: 50%;
    flex-grow: 1;
    flex-shrink: 1;
  }
  [class*=clm][class*=sm_7] {
    flex-basis: 58.333%;
    max-width: 58.333%;
    flex-grow: 1;
    flex-shrink: 1;
  }
  [class*=clm][class*=sm_8] {
    flex-basis: 66.666%;
    max-width: 66.666%;
    flex-grow: 1;
    flex-shrink: 1;
  }
  [class*=clm][class*=sm_9] {
    flex-basis: 75%;
    max-width: 75%;
    flex-grow: 1;
    flex-shrink: 1;
  }
  [class*=clm][class*=sm_10] {
    flex-basis: 83.3333%;
    max-width: 83.3333%;
    flex-grow: 1;
    flex-shrink: 1;
  }
  [class*=clm][class*=sm_11] {
    flex-basis: 91.67%;
    max-width: 91.67%;
    flex-grow: 1;
    flex-shrink: 1;
  }
  [class*=clm][class*=sm_12] {
    flex-basis: 100%;
    max-width: 100%;
    flex-grow: 1;
    flex-shrink: 1;
  }
}
@media (min-width: 768px) {
  [class*=clm][class*=md_1] {
    flex-basis: 8.33%;
    max-width: 8.33%;
    flex-grow: 1;
    flex-shrink: 1;
  }
  [class*=clm][class*=md_2] {
    flex-basis: 16.666%;
    max-width: 16.666%;
    flex-grow: 1;
    flex-shrink: 1;
  }
  [class*=clm][class*=md_3] {
    flex-basis: 25%;
    max-width: 25%;
    flex-grow: 1;
    flex-shrink: 1;
  }
  [class*=clm][class*=md_4] {
    flex-basis: 33.333%;
    max-width: 33.333%;
    flex-grow: 1;
    flex-shrink: 1;
  }
  [class*=clm][class*=md_5] {
    flex-basis: 41.666%;
    max-width: 41.666%;
    flex-grow: 1;
    flex-shrink: 1;
  }
  [class*=clm][class*=md_6] {
    flex-basis: 50%;
    max-width: 50%;
    flex-grow: 1;
    flex-shrink: 1;
  }
  [class*=clm][class*=md_7] {
    flex-basis: 58.333%;
    max-width: 58.333%;
    flex-grow: 1;
    flex-shrink: 1;
  }
  [class*=clm][class*=md_8] {
    flex-basis: 66.666%;
    max-width: 66.666%;
    flex-grow: 1;
    flex-shrink: 1;
  }
  [class*=clm][class*=md_9] {
    flex-basis: 75%;
    max-width: 75%;
    flex-grow: 1;
    flex-shrink: 1;
  }
  [class*=clm][class*=md_10] {
    flex-basis: 83.3333%;
    max-width: 83.3333%;
    flex-grow: 1;
    flex-shrink: 1;
  }
  [class*=clm][class*=md_11] {
    flex-basis: 91.67%;
    max-width: 91.67%;
    flex-grow: 1;
    flex-shrink: 1;
  }
  [class*=clm][class*=md_12] {
    flex-basis: 100%;
    max-width: 100%;
    flex-grow: 1;
    flex-shrink: 1;
  }
}
@media (min-width: 992px) {
  [class*=clm][class*=lg_1] {
    flex-basis: 8.33%;
    max-width: 8.33%;
    flex-grow: 1;
    flex-shrink: 1;
  }
  [class*=clm][class*=lg_2] {
    flex-basis: 16.666%;
    max-width: 16.666%;
    flex-grow: 1;
    flex-shrink: 1;
  }
  [class*=clm][class*=lg_3] {
    flex-basis: 25%;
    max-width: 25%;
    flex-grow: 1;
    flex-shrink: 1;
  }
  [class*=clm][class*=lg_4] {
    flex-basis: 33.333%;
    max-width: 33.333%;
    flex-grow: 1;
    flex-shrink: 1;
  }
  [class*=clm][class*=lg_5] {
    flex-basis: 41.666%;
    max-width: 41.666%;
    flex-grow: 1;
    flex-shrink: 1;
  }
  [class*=clm][class*=lg_6] {
    flex-basis: 50%;
    max-width: 50%;
    flex-grow: 1;
    flex-shrink: 1;
  }
  [class*=clm][class*=lg_7] {
    flex-basis: 58.333%;
    max-width: 58.333%;
    flex-grow: 1;
    flex-shrink: 1;
  }
  [class*=clm][class*=lg_8] {
    flex-basis: 66.666%;
    max-width: 66.666%;
    flex-grow: 1;
    flex-shrink: 1;
  }
  [class*=clm][class*=lg_9] {
    flex-basis: 75%;
    max-width: 75%;
    flex-grow: 1;
    flex-shrink: 1;
  }
  [class*=clm][class*=lg_10] {
    flex-basis: 83.3333%;
    max-width: 83.3333%;
    flex-grow: 1;
    flex-shrink: 1;
  }
  [class*=clm][class*=lg_11] {
    flex-basis: 91.67%;
    max-width: 91.67%;
    flex-grow: 1;
    flex-shrink: 1;
  }
  [class*=clm][class*=lg_12] {
    flex-basis: 100%;
    max-width: 100%;
    flex-grow: 1;
    flex-shrink: 1;
  }
}
[class*=rw][class*=hg0] {
  --primitives-size-grid-gutter: var(--size--0)/2;
}

[class*=rw][class*=hg1] {
  --primitives-size-grid-gutter: var(--size--1)/2;
}

[class*=rw][class*=hg2] {
  --primitives-size-grid-gutter: var(--size--2)/2;
}

[class*=rw][class*=hg3] {
  --primitives-size-grid-gutter: var(--size--3)/2;
}

[class*=rw][class*=hg4] {
  --primitives-size-grid-gutter: var(--size--4)/2;
}

[class*=rw][class*=hg5] {
  --primitives-size-grid-gutter: var(--size--5)/2;
}

[class*=rw][class*=hg6] {
  --primitives-size-grid-gutter: var(--size--6)/2;
}

[class*=rw][class*=hg7] {
  --primitives-size-grid-gutter: var(--size--7)/2;
}

[class*=rw][class*=hg8] {
  --primitives-size-grid-gutter: var(--size--8)/2;
}

[class*=rw][class*=hg9] {
  --primitives-size-grid-gutter: var(--size--9)/2;
}

[class*=rw][class*=hg10] {
  --primitives-size-grid-gutter: var(--size--10)/2;
}

[class*=rw][class*=vg0] {
  --primitives-size-row-gap: var(--size--0)/2;
}

[class*=rw][class*=vg1] {
  --primitives-size-row-gap: var(--size--1)/2;
}

[class*=rw][class*=vg2] {
  --primitives-size-row-gap: var(--size--2)/2;
}

[class*=rw][class*=vg3] {
  --primitives-size-row-gap: var(--size--3)/2;
}

[class*=rw][class*=vg4] {
  --primitives-size-row-gap: var(--size--4)/2;
}

[class*=rw][class*=vg5] {
  --primitives-size-row-gap: var(--size--5)/2;
}

[class*=rw][class*=vg6] {
  --primitives-size-row-gap: var(--size--6)/2;
}

[class*=rw][class*=vg7] {
  --primitives-size-row-gap: var(--size--7)/2;
}

[class*=rw][class*=vg8] {
  --primitives-size-row-gap: var(--size--8)/2;
}

[class*=rw][class*=vg9] {
  --primitives-size-row-gap: var(--size--9)/2;
}

[class*=rw][class*=vg10] {
  --primitives-size-row-gap: var(--size--10)/2;
}