@use "variables" as v;

@each $key, $val in v.$colors {
  [class*="bg-h#{$key}"]:hover {
    background: $val !important;
  }
  [class*="bc-h#{$key}"]:hover {
    border-color: $val !important;
  }
  [class*="oc-h#{$key}"]:hover {
    outline-color: $val !important;
  }
  [class*="fc-h#{$key}"]:hover {
    color: $val !important;
  }
  [class*="sc-h#{$key}"]:hover {
    -webkit-text-stroke-color: $val !important;
  }
}

@each $key, $val in v.$colors {
  [class*="bg-a#{$key}"]:active {
    background: $val !important;
  }
  [class*="bc-a#{$key}"]:active {
    border-color: $val !important;
  }
  [class*="oc-a#{$key}"]:active {
    outline-color: $val !important;
  }
  [class*="fc-a#{$key}"]:active {
    color: $val !important;
  }
  [class*="sc-a#{$key}"]:active {
    -webkit-text-stroke-color: $val !important;
  }
}

@each $key, $val in v.$colors {
  [class*="bg-f#{$key}"]:focus {
    background: $val !important;
  }
  [class*="bc-f#{$key}"]:focus {
    border-color: $val !important;
  }
  [class*="oc-f#{$key}"]:focus {
    outline-color: $val !important;
  }
  [class*="fc-f#{$key}"]:focus {
    color: $val !important;
  }
  [class*="sc-f#{$key}"]:focus {
    -webkit-text-stroke-color: $val !important;
  }
}
