// breakpoints
$breakpoints: (
  "m": 480px,
  "ml": 768px,
  "t": 992px,
);

$size: (
  "0": var(--size--0),
  "1": var(--size--1),
  "2": var(--size--2),
  "3": var(--size--3),
  "4": var(--size--4),
  "5": var(--size--5),
  "6": var(--size--6),
  "7": var(--size--7),
  "8": var(--size--8),
  "9": var(--size--9),
  "10": var(--size--10),
  "11": var(--size--11),
  "12": var(--size--12),
  "13": var(--size--13),
  "14": var(--size--14),
  "15": var(--size--15),
  "16": var(--size--16),
  "17": var(--size--17),
  "18": var(--size--18),
  "19": var(--size--19),
);

$font: (
  "0": var(--font--x0),
  "1": var(--font--x1),
  "2": var(--font--x2),
  "3": var(--font--x3),
  "4": var(--font--x4),
  "5": var(--font--x5),
  "6": var(--font--x6),
  "7": var(--font--x7),
  "8": var(--font--x8),
  "9": var(--font--x9),
  "10": var(--font--x10),
  "11": var(--font--x11),
  "12": var(--font--x12),
  "13": var(--font--x13),
  "14": var(--font--x14),
  "15": var(--font--x15),
  "16": var(--font--x16),
  "17": var(--font--x17),
  "18": var(--font--x18),
  "19": var(--font--x19),
);

$colors: (
  "0-0": var(--color--0-0),
  "0-1": var(--color--0-1),
  "0-2": var(--color--0-2),
  "0-3": var(--color--0-3),
  "0-4": var(--color--0-4),
  "0-5": var(--color--0-5),
  "0-6": var(--color--0-6),
  "0-7": var(--color--0-7),
  "0-8": var(--color--0-8),
  "0-9": var(--color--0-9),
  "1-0": var(--color--1-0),
  "1-1": var(--color--1-1),
  "1-2": var(--color--1-2),
  "1-3": var(--color--1-3),
  "1-4": var(--color--1-4),
  "1-5": var(--color--1-5),
  "1-6": var(--color--1-6),
  "1-7": var(--color--1-7),
  "1-8": var(--color--1-8),
  "1-9": var(--color--1-9),
  "2-0": var(--color--2-0),
  "2-1": var(--color--2-1),
  "2-2": var(--color--2-2),
  "2-3": var(--color--2-3),
  "2-4": var(--color--2-4),
  "2-5": var(--color--2-5),
  "2-6": var(--color--2-6),
  "2-7": var(--color--2-7),
  "2-8": var(--color--2-8),
  "2-9": var(--color--2-9),
  "3-0": var(--color--3-0),
  "3-1": var(--color--3-1),
  "3-2": var(--color--3-2),
  "3-3": var(--color--3-3),
  "3-4": var(--color--3-4),
  "3-5": var(--color--3-5),
  "3-6": var(--color--3-6),
  "3-7": var(--color--3-7),
  "3-8": var(--color--3-8),
  "3-9": var(--color--3-9),
  "4-0": var(--color--4-0),
  "4-1": var(--color--4-1),
  "4-2": var(--color--4-2),
  "4-3": var(--color--4-3),
  "4-4": var(--color--4-4),
  "4-5": var(--color--4-5),
  "4-6": var(--color--4-6),
  "4-7": var(--color--4-7),
  "4-8": var(--color--4-8),
  "4-9": var(--color--4-9),
  "5-0": var(--color--5-0),
  "5-1": var(--color--5-1),
  "5-2": var(--color--5-2),
  "5-3": var(--color--5-3),
  "5-4": var(--color--5-4),
  "5-5": var(--color--5-5),
  "5-6": var(--color--5-6),
  "5-7": var(--color--5-7),
  "5-8": var(--color--5-8),
  "5-9": var(--color--5-9),
  "6-0": var(--color--6-0),
  "6-1": var(--color--6-1),
  "6-2": var(--color--6-2),
  "6-3": var(--color--6-3),
  "6-4": var(--color--6-4),
  "6-5": var(--color--6-5),
  "6-6": var(--color--6-6),
  "6-7": var(--color--6-7),
  "6-8": var(--color--6-8),
  "6-9": var(--color--6-9),
  "7-0": var(--color--7-0),
  "7-1": var(--color--7-1),
  "7-2": var(--color--7-2),
  "7-3": var(--color--7-3),
  "7-4": var(--color--7-4),
  "7-5": var(--color--7-5),
  "7-6": var(--color--7-6),
  "7-7": var(--color--7-7),
  "7-8": var(--color--7-8),
  "7-9": var(--color--7-9),
  "8-0": var(--color--8-0),
  "8-1": var(--color--8-1),
  "8-2": var(--color--8-2),
  "8-3": var(--color--8-3),
  "8-4": var(--color--8-4),
  "8-5": var(--color--8-5),
  "8-6": var(--color--8-6),
  "8-7": var(--color--8-7),
  "8-8": var(--color--8-8),
  "8-9": var(--color--8-9),
  "9-0": var(--color--9-0),
  "9-1": var(--color--9-1),
  "9-2": var(--color--9-2),
  "9-3": var(--color--9-3),
  "9-4": var(--color--9-4),
  "9-5": var(--color--9-5),
  "9-6": var(--color--9-6),
  "9-7": var(--color--9-7),
  "9-8": var(--color--9-8),
  "9-9": var(--color--9-9),
);

$specials: (
  "0-00": var(--specials--0-00),
  "0-01": var(--specials--0-01),
  "0-02": var(--specials--0-02),
  "0-03": var(--specials--0-03),
  "0-04": var(--specials--0-04),
  "0-05": var(--specials--0-05),
  "0-06": var(--specials--0-06),
  "0-07": var(--specials--0-07),
  "0-08": var(--specials--0-08),
  "0-09": var(--specials--0-09),
  "1-00": var(--specials--1-00),
  "1-01": var(--specials--1-01),
  "1-02": var(--specials--1-02),
  "1-03": var(--specials--1-03),
  "1-04": var(--specials--1-04),
  "1-05": var(--specials--1-05),
  "1-06": var(--specials--1-06),
  "1-07": var(--specials--1-07),
  "1-08": var(--specials--1-08),
  "1-09": var(--specials--1-09),
  "2-00": var(--specials--2-00),
  "2-01": var(--specials--2-01),
  "2-02": var(--specials--2-02),
  "2-03": var(--specials--2-03),
  "2-04": var(--specials--2-04),
  "2-05": var(--specials--2-05),
  "2-06": var(--specials--2-06),
  "2-07": var(--specials--2-07),
  "2-08": var(--specials--2-08),
  "2-09": var(--specials--2-09),
  "3-00": var(--specials--3-00),
  "3-01": var(--specials--3-01),
  "3-02": var(--specials--3-02),
  "3-03": var(--specials--3-03),
  "3-04": var(--specials--3-04),
  "3-05": var(--specials--3-05),
  "3-06": var(--specials--3-06),
  "3-07": var(--specials--3-07),
  "3-08": var(--specials--3-08),
  "3-09": var(--specials--3-09),
  "4-00": var(--specials--4-00),
  "4-01": var(--specials--4-01),
  "4-02": var(--specials--4-02),
  "4-03": var(--specials--4-03),
  "4-04": var(--specials--4-04),
  "4-05": var(--specials--4-05),
  "4-06": var(--specials--4-06),
  "4-07": var(--specials--4-07),
  "4-08": var(--specials--4-08),
  "4-09": var(--specials--4-09),
  "5-00": var(--specials--5-00),
  "5-01": var(--specials--5-01),
  "5-02": var(--specials--5-02),
  "5-03": var(--specials--5-03),
  "5-04": var(--specials--5-04),
  "5-05": var(--specials--5-05),
  "5-06": var(--specials--5-06),
  "5-07": var(--specials--5-07),
  "5-08": var(--specials--5-08),
  "5-09": var(--specials--5-09),
  "6-00": var(--specials--6-00),
  "6-01": var(--specials--6-01),
  "6-02": var(--specials--6-02),
  "6-03": var(--specials--6-03),
  "6-04": var(--specials--6-04),
  "6-05": var(--specials--6-05),
  "6-06": var(--specials--6-06),
  "6-07": var(--specials--6-07),
  "6-08": var(--specials--6-08),
  "6-09": var(--specials--6-09),
  "7-00": var(--specials--7-00),
  "7-01": var(--specials--7-01),
  "7-02": var(--specials--7-02),
  "7-03": var(--specials--7-03),
  "7-04": var(--specials--7-04),
  "7-05": var(--specials--7-05),
  "7-06": var(--specials--7-06),
  "7-07": var(--specials--7-07),
  "7-08": var(--specials--7-08),
  "7-09": var(--specials--7-09),
  "8-00": var(--specials--8-00),
  "8-01": var(--specials--8-01),
  "8-02": var(--specials--8-02),
  "8-03": var(--specials--8-03),
  "8-04": var(--specials--8-04),
  "8-05": var(--specials--8-05),
  "8-06": var(--specials--8-06),
  "8-07": var(--specials--8-07),
  "8-08": var(--specials--8-08),
  "8-09": var(--specials--8-09),
  "9-00": var(--specials--9-00),
  "9-01": var(--specials--9-01),
  "9-02": var(--specials--9-02),
  "9-03": var(--specials--9-03),
  "9-04": var(--specials--9-04),
  "9-05": var(--specials--9-05),
  "9-06": var(--specials--9-06),
  "9-07": var(--specials--9-07),
  "9-08": var(--specials--9-08),
  "9-09": var(--specials--9-09),
);
