:root {
  --spacing--x-tiny: 4px;
  --spacing--tiny: clamp(0.25rem, 0.141rem + 0.466vw, 0.875rem);
  --spacing--2x-small: clamp(0.5rem, 0.413rem + 0.373vw, 1rem);
  --spacing--x-small: clamp(0.75rem, 0.531rem + 0.932vw, 2rem);
  --spacing--small: clamp(1.125rem, 0.797rem + 1.399vw, 3rem);
  --spacing--medium: clamp(1.5rem, 0.602rem + 2.396vw, 4.375rem);
  --spacing--medium-large: clamp(1.875rem, 1.285rem + 2.517vw, 5.25rem);
  --spacing--large: clamp(2.5rem, 1.407rem + 4.662vw, 8.75rem);
  --spacing--x-large: clamp(3.75rem, 2.657rem + 4.662vw, 10rem);
  --spacing--2x-large: clamp(3.75rem, 2.22rem + 6.527vw, 12.5rem);
  --spacing--3x-large: clamp(4.625rem, 3.03rem + 6.807vw, 13.75rem);
  --spacing--huge: clamp(5.125rem, 3.18rem + 8.298vw, 16.25rem);
  --spacing--x-huge: clamp(6.25rem, 3.846rem + 10.256vw, 20rem);
  --spacing--gigantic: clamp(7.5rem, 4.659rem + 12.121vw, 23.75rem);

  --primary-font: "Lota Grotesque";
  --secondary-font: "Lota Grotesque";

  --font-weight--base: 400;
  --font-weight--headings: 400;

  --font-size--small: clamp(0.875rem, 0.042rem + 0.926vw, 1.5rem);
  --font-size--medium: clamp(1rem, 0.333rem + 0.741vw, 1.5rem);
  --font-size--base: clamp(1.125rem, 0.216rem + 1.212vw, 2.125rem);
  --font-size--large: clamp(1.25rem, 1.193rem + 0.242vw, 1.375rem);
  --font-size--heading-5: clamp(1.25rem, 1.193rem + 0.242vw, 1.375rem);
  --font-size--heading-4: clamp(1.375rem, 1.29rem + 0.364vw, 1.563rem);
  --font-size--heading-3: clamp(1.5rem, 1.33rem + 0.727vw, 1.875rem);
  --font-size--heading-2: clamp(1.75rem, 1.352rem + 1.697vw, 2.625rem);
  --font-size--heading-1: clamp(2rem, 1.091rem + 3.879vw, 4rem);
  --font-size--jumbo: clamp(3.5rem, 2.477rem + 4.364vw, 5.75rem);
  --font-size--huge: clamp(4rem, 1.727rem + 9.697vw, 9rem);
  --font-size--gigantic: clamp(4.5rem, 1.886rem + 11.152vw, 10.25rem);

  --line-height--small: 1.55;
  --line-height--medium: 1.5;
  --line-height--base: 1.4;
  --line-height--large: 1.33;
  --line-height--heading-5: 1.25;
  --line-height--heading-4: 1.25;
  --line-height--heading-3: max(30px, 125%);
  --line-height--heading-2: max(34px, 116%);
  --line-height--heading-1: max(40px, 110%);
  --line-height--jumbo: 1.08;
  --line-height--huge: 1;
  --line-height--gigantic: 1;

  --letter-spacing--small: -0.02em;
  --letter-spacing--medium: -0.02em;
  --letter-spacing--base: -0.02em;
  --letter-spacing--large: -0.025em;
  --letter-spacing--heading-5: -0.025em;
  --letter-spacing--heading-4: -0.025em;
  --letter-spacing--heading-3: -0.025em;
  --letter-spacing--heading-2: -0.025em;
  --letter-spacing--heading-1: -0.04em;
  --letter-spacing--jumbo: -0.04em;
  --letter-spacing--huge: -0.04em;
  --letter-spacing--gigantic: -0.06em;

  --content-width: min(100%, 840px);
}
